.container{
    margin-bottom: 50px;
    justify-self: center;
    border-radius: 20px;
    width: 240px;
    height: 330px;
    font-size: 8px;
    color: aliceblue;
    font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(45,45,45);
    box-shadow: 0px -1px 15px rgb(157, 0, 255);
    transition: all 0.3s;
    border: 1px solid rgb(157, 0, 255);
    animation: grow 0.7s forwards;
}

@keyframes grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
         
.container:hover {
    z-index: 1;
    rotate: -5deg;
    scale: 1.2;
    box-shadow: 0px -1px 30px rgb(157, 0, 255);
}
        
.container img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid violet;
    transition: 0.3s;
}

.container img:hover {
    transform: scale(0.9);
    box-shadow: 0px 1px 25px violet;
}

.buttonContainer {
    margin-right: 15px;
    margin-top: 15px;
    justify-content: right;
    display: flex;
}

.container button {
    font-weight: bolder;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: hidden;
    cursor: pointer;
    background-color: #fff000;
    transition: all 0.3s;
}

.container button:hover {
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    transform: scale(1.3);
    rotate: 180deg;
}

.container .name {
    color: #9c6aff;
    font-size: 16px;
}
