.searchBar {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width:100%;
    padding-left: 10%;
    justify-content: center;
}

.searchBar input {
    background-color: #ad84ff;
    padding-top: 3px;
    width: 400px;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 24px;
    border-radius: 5px;
    border: 0;
}

.searchBar button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff000;
    margin-left: 20px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding-top: 5px;
    transition: 200ms;
    border: 0;
    font-size: 24px;
    transition: 0.5s;
}

.searchBar button:hover {
    background-color: #00ff11;
    color: #ffffff;
    transform: scale(1.3);
    rotate: 180deg;
}

@media (max-width: 760px) {
    .searchBar {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 10px;
        padding-left: 0px;
    }

    .searchBar input {
        width: 200px;
        font-size: 13px;
    }

    .searchBar button {
        padding-right: 10px;
        padding-left: 10px;
    }
}

